<form ng-submit="search(searchTerm)">
  <div class="list">
    <label class="item item-input">
      <input type="text" placeholder="What do you want to find?" ng-model="searchTerm">
    </label>
  </div>
  <div class="padding">
    <button type="submit" class="button button-block button-positive">Search</button>
  </div>
</form>

<div ng-repeat="book in books" class="list card">

  <div class="item item-avatar">
    <img src="img/mark_twain.jpg">
    <h2>{{ book.volumeInfo.authors[0] }}</h2>
    <p>{{ book.volumeInfo.publishedDate }}</p>
  </div>

  <div class="item item-body">
    <img class="full-image" ng-src="{{ book.volumeInfo.imageLinks.thumbnail }}">
    <h2>{{ book.volumeInfo.title }}</h2>
    <p>{{ book.volumeInfo.description }}</p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>

</div>
